USE [master]
GO
/****** Object:  Database [Variant 6]    Script Date: 17.05.2023 11:27:37 ******/
CREATE DATABASE [Variant 6]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Variant 6', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Variant 6.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Variant 6_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Variant 6_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Variant 6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Variant 6]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 17.05.2023 11:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[ID] [int] NULL,
	[Код заказа] [nvarchar](50) NULL,
	[Дата создания] [date] NULL,
	[Код клиента] [int] NULL,
	[Время заказа] [time](7) NULL,
	[Услуги] [int] NULL,
	[Статус] [nvarchar](50) NULL,
	[Дата закрытия] [date] NULL,
	[Время проката] [nvarchar](50) NULL,
	[Код сотрудника] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 17.05.2023 11:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[ФИО] [nvarchar](max) NULL,
	[Код клиента] [int] NOT NULL,
	[Паспортные данные] [nvarchar](max) NULL,
	[Дата рождения] [date] NULL,
	[Адрес] [nvarchar](max) NULL,
	[e-mail] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
 CONSTRAINT [PK_Клиенты] PRIMARY KEY CLUSTERED 
(
	[Код клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Отчет]    Script Date: 17.05.2023 11:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отчет](
	[Код заказа] [nvarchar](50) NOT NULL,
	[Количество имеющегося инвентаря] [int] NULL,
	[Количество инвентаря в аренде] [int] NULL,
 CONSTRAINT [PK_Отчет] PRIMARY KEY CLUSTERED 
(
	[Код заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудники]    Script Date: 17.05.2023 11:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудники](
	[Код сотрудника] [int] NOT NULL,
	[Номер чека] [int] NULL,
	[ФИО] [nvarchar](max) NULL,
	[Должность] [nvarchar](max) NULL,
	[Оклад] [money] NULL,
	[Дата рождения] [date] NULL,
	[Логин] [nvarchar](max) NULL,
	[Пароль] [nvarchar](max) NULL,
 CONSTRAINT [PK_Сотрудники] PRIMARY KEY CLUSTERED 
(
	[Код сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Услуги]    Script Date: 17.05.2023 11:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[ID] [int] NOT NULL,
	[Наименование услуги] [nvarchar](max) NULL,
	[Код услуги] [nvarchar](max) NULL,
	[Стоимость, руб. за час] [money] NULL,
 CONSTRAINT [PK_Услуги] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Чек]    Script Date: 17.05.2023 11:27:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Чек](
	[Номер чека] [int] NOT NULL,
	[Номер заказа] [int] NULL,
	[Общая сумма] [money] NULL,
 CONSTRAINT [PK_Чек] PRIMARY KEY CLUSTERED 
(
	[Номер чека] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Заказы] ([ID], [Код заказа], [Дата создания], [Код клиента], [Время заказа], [Услуги], [Статус], [Дата закрытия], [Время проката], [Код сотрудника]) VALUES (1, N'45462526/12.03.2022', CAST(N'2022-03-12' AS Date), NULL, NULL, 34, N'Новая', NULL, NULL, 2)
INSERT [dbo].[Заказы] ([ID], [Код заказа], [Дата создания], [Код клиента], [Время заказа], [Услуги], [Статус], [Дата закрытия], [Время проката], [Код сотрудника]) VALUES (2, N'45462527/13.03.2022', CAST(N'2022-03-13' AS Date), NULL, NULL, 98, N'В прокате', NULL, NULL, 1)
INSERT [dbo].[Заказы] ([ID], [Код заказа], [Дата создания], [Код клиента], [Время заказа], [Услуги], [Статус], [Дата закрытия], [Время проката], [Код сотрудника]) VALUES (3, N'45462528/14.03.2022', CAST(N'2022-03-14' AS Date), NULL, NULL, 92, N'В прокате', NULL, NULL, 3)
GO
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Фролов Андрей Иванович', 45462526, N'Серия 1180 Номер 176596', CAST(N'2001-07-14' AS Date), N'344288, г. Санкт-Петербург, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'cl12345')
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Николаев Даниил Всеволодович', 45462527, N'Серия 2280 Номер 223523', CAST(N'2001-02-10' AS Date), N'614164, г. Санкт-Петербург, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'cl12346')
INSERT [dbo].[Клиенты] ([ФИО], [Код клиента], [Паспортные данные], [Дата рождения], [Адрес], [e-mail], [password]) VALUES (N'Снегирев Макар Иванович', 45462528, N'Серия 4560 Номер 354155', CAST(N'1998-05-21' AS Date), N'394242, г. Санкт-Петербург, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com', N'cl12347')
GO
INSERT [dbo].[Отчет] ([Код заказа], [Количество имеющегося инвентаря], [Количество инвентаря в аренде]) VALUES (N'1', 3, 4)
INSERT [dbo].[Отчет] ([Код заказа], [Количество имеющегося инвентаря], [Количество инвентаря в аренде]) VALUES (N'2', 3, 7)
GO
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость, руб. за час]) VALUES (31, N'Прокат набора защитного оборудования', N'JUR8R', 1000.0000)
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость, руб. за час]) VALUES (34, N'Прокат роликов', N'JKFBJ09', 1000.0000)
INSERT [dbo].[Услуги] ([ID], [Наименование услуги], [Код услуги], [Стоимость, руб. за час]) VALUES (44, N'Аренда лодки', N'DHBGFY563', 700.0000)
GO
INSERT [dbo].[Чек] ([Номер чека], [Номер заказа], [Общая сумма]) VALUES (1, 1, 100.0000)
INSERT [dbo].[Чек] ([Номер чека], [Номер заказа], [Общая сумма]) VALUES (2, 2, 200.0000)
INSERT [dbo].[Чек] ([Номер чека], [Номер заказа], [Общая сумма]) VALUES (3, 3, 300.0000)
GO
ALTER TABLE [dbo].[Сотрудники]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудники_Чек] FOREIGN KEY([Номер чека])
REFERENCES [dbo].[Чек] ([Номер чека])
GO
ALTER TABLE [dbo].[Сотрудники] CHECK CONSTRAINT [FK_Сотрудники_Чек]
GO
USE [master]
GO
